@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: "Montserrat", sans-serif;
}

.headerDiv {
  background-color: #5995fd;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
}

.logoContainer {
  display: inline-block;
  grid-column: 1;
  text-align: center;
}

.logo {
  width: 8vh;
  min-width: 50px;
  padding: 5px;
}

.menuContainer {
  display: inline-block;
  grid-column: 3;
  text-align: center;
}

.menu {
  width: 8vh;
  padding: 5px;
  min-width: 50px;
}

.searchContainer {
  grid-column: 2;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputField {
  display: inline-block;
  width: calc(100%-8rem);
  border: 2px solid #ff8128;
  background-color: white;
  padding: 3px;
  border-radius: 16px;
}

.searchBox {
  border: none;
  border-radius: 16px;
  padding-left: 15px;
  padding-right: 15px;
  width: 45vw;
}

.searchIcon {
  padding: 3px;
  color: #5995fd;
}

@media (max-width: 600px) {
  .inputField {
    width: calc(100%-8rem);
  }

  .searchBox {
    border: none;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60vw;
  }
}

@media (max-width: 450px) {
  .inputField {
    width: calc(100%-8rem);
  }

  .searchBox {
    border: none;
    border-radius: 16px;
    padding-left: 15px;
    padding-right: 15px;
    width: 60vw;
  }
}

@media (max-width: 450px) {
  .inputField {
    width: calc(100%-8rem);
  }

  .searchBox {
    border: none;
    border-radius: 16px;
    padding-left: 10px;
    padding-right: 10px;
    width: 55vw;
  }
}
