@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
}

.title {
  width: 100%;
}

.heading {
  padding-top: 1.4rem;
  padding-bottom: 1rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}
