@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
input {
  font-family: 'Montserrat', sans-serif;
}

.title {
  width: 100%;
  text-align: center;
}

.heading {
  padding-top: 1.4rem;
  padding-bottom: 0.5rem;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-size: 1.8rem;
}

.sep {
  display: inline-block;
  width: calc((100% - 8em) / 2);
  min-width: min(600px, 100vw);
}

.modOfOrd {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;
}

.modOfOrdSpan {
  padding: 2px 4px;;
  border: 2px solid rgb(255, 129, 40);
  border-radius: 5px;
}

.detailRowDiv {
  width: 100%;
  text-align: center;
}

.detailsDiv {
  padding: 15px 15px;
  width: 100%;
  text-align: center;
}

input:focus {
  outline: none;
  background-color: rgba(231, 231, 231, 0.438);
}

.detailRow {
  border: none;
  border-bottom: 1px solid rgb(131, 131, 131);
  width: 18rem;
}

.chargesContainer {
  width: 100%;
  text-align: center;
  align-items: center;
}

.charges {
  width: calc((100% - 8em) / 2);
  min-width: min(600px, 100vw);
  margin: 0 auto;
}

.chargesDiv {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border-bottom: 1px solid rgb(211, 211, 211);
  background-color: aliceblue;
}

.floatLeft {
  padding: 10px 25px;
  text-align: left;
  grid-column: 1;
  grid-row: 1;
}

.floatRight {
  padding: 10px 25px;
  text-align: right;
  grid-column: 2;
  grid-row: 1;
}

.chargesDivBold {
  font-weight: bold;
  font-size: 1.2rem;
}

.orderDiv {
  width: 100%;
  text-align: center;
}

.placeOrder {
  color: white;
  border-radius: 10px;
  height: 4em;
  width: 18rem;
  padding: 1.5em auto;
  margin: 1em auto;
  background-color: rgb(255, 129, 40);
  border: none;
  border-radius: 10px;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.placeOrder:hover {
  background-color: rgb(255, 161, 94);
}

.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.one {
  grid-column: 1;
  grid-row: 1;
}

.two {
  grid-column: 1;
  grid-row: 2;
}

.three {
  grid-column: 2;
  grid-row: 1 / 3;
}

.placeOrd {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

.arrow {
  margin-left: 35px;
}
